body
{
    background-color: black;
    font-family: Arial;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/stars.jpg");
    background-size: cover;
}

#titulo
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(244, 67, 54, 0.49);
    z-index: 20;
    font-size: 1.2em;
    padding: 10px;
}
