body
{
	font-family: Arial;
}

#numero
{
	width: 80%;
	font-size: 30px;
	text-align: center;
}

#valida, #nuevo
{
	margin-top: 10px;
	width: 20%;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

table
{
	font-size: 20px;
}